.main{
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  margin: auto;
  background-color: lavenderblush;
  overflow: scroll;
}
.recived{
  align-self: flex-start;
    background-color: mediumaquamarine;
  }
  .sent{
    background-color: mediumvioletred;
    align-self: flex-end;
  }
  .message{
      padding-right: 10px;
      margin-top: 5px;
    padding-left: 10px;
  line-height: 30px;
    border-radius: 10px;
    color: white;
    max-width: 300px;
    min-height: 30px;
    word-wrap: break-word;
  }