.main{
  
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 800px;
  height: 90%;
  background-color: yellow;
overflow-y: scroll;
overflow-x: hidden;
  flex-direction: column-reverse;
}
#container{
  
  width: 800px;
  max-width: 800px;
  height: 100vh;
  margin: auto;
  background-color: green;
}
.recived{
  align-self: flex-start;
    background-color: mediumaquamarine;
  }
  .sent{
    background-color: mediumvioletred;
    align-self: flex-end;
  }
  .message{

      padding-right: 10px;
      margin-top: 5px;
    padding-left: 10px;
  line-height: 30px;
    border-radius: 10px;
    color: white;
    max-width: 300px;
    min-height: 30px;
    word-wrap: break-word;
  }
  .users{
    position:fixed;
    width: 200px;
    max-width: 400px;
    background-color: grey;
    height: 100%;
    overflow: scroll;
    left: 5px;
    top: 5px;
    display: flex;
  }
  .user{
    padding-right: 10px;
    margin-top: 5px;
  padding-left: 10px;
line-height: 30px;
  border-radius: 10px;
  color: white;
  max-width: 300px;
  min-height: 30px;
  word-wrap: break-word;
  }
  .send{
    
    
    width: 100%;
    height: 10%;
    background-color: red;

    
 
  }
 #send-form input{
    width: 90%;
    height: 30px;
  }
  #send-form button{
width: 10%;
height: 30px;

  }
  #send-form {
    margin: auto;
  }